<ion-header class="ion-no-border" translucent>
    <ion-toolbar>
        <ion-title class="ion-no-padding ion-text-center">
            <h6 class="ion-font-bold ion-m-0 ion-font-md">Categories</h6>
            <ion-text color="medium">
                <small class="ion-font-sm">
                    Ingresos y Gastos
                </small>
            </ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fade-animation" *ngIf="!service.loading; else spinner">
        <ion-row>
            <ion-col size="12">
                <ion-button color="medium" expand="block" fill="outline" routerLink="/app/categoria-form"
                    style="--border-width: 1px; --border-style: dashed;">
                     <ion-icon name="add"></ion-icon>
                        Agregar tipo ingreso
                </ion-button>
            </ion-col>
        </ion-row>
        
        <ion-list class="ion-py-2" lines="none">
            <ion-virtual-scroll [items]="service.data">
              <ion-item *virtualItem="let c" detail="false">
                <ion-label color="dark" class="ion-ml-3">
                    <h6 class="ion-font-md">{{ c.Nombre }}</h6>
                    <ion-text color="medium">
                        <span class="ion-font-sm">{{ c.TipoCategoriaDescripcion }}</span>
                    </ion-text>
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button color="tertiary" shape="round" (click)="onUpdate(c)">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </ion-button>
                    <ion-button color="danger" shape="round" (click)="onDelete(c)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
               </ion-item>
            </ion-virtual-scroll>
        </ion-list>

    </div>

     <!-- Spinner -->
    <ng-template #spinner>
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-spinner color="secondary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ng-template>

</ion-content>
