<ion-header class="ion-no-border" translucent>
    <ion-toolbar>
        <ion-title class="ion-no-padding ion-text-center">
            <h6 class="ion-font-bold ion-m-0 ion-font-md">Categories</h6>
            <ion-text color="medium">
                <small class="ion-font-sm">
                    Dolor ut consectetur illum.
                </small>
            </ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fade-animation" *ngIf="!service.loading; else spinner">
        <ion-segment color="primary" [(ngModel)]="filter.value">
                <ion-segment-button value="1">
                    <ion-label class="ion-text-capitalize">
                        <span class="ion-font-md">Ingresos</span>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="2">
                    <ion-label class="ion-text-capitalize">
                        <span class="ion-font-md">Gastos</span>
                    </ion-label>
                </ion-segment-button>
        </ion-segment>
        <br>
        <ion-row>
            <ion-col size="12">
                <ion-button color="medium" expand="block" fill="outline" routerLink="/app/categoria-form"
                    style="--border-width: 1px; --border-style: dashed;">
                     <ion-icon name="add"></ion-icon>
                        Agregar tipo ingreso
                </ion-button>
            </ion-col>
        </ion-row>
        
        <ion-list class="ion-py-2" lines="none">
            <ion-item *ngFor="let c of service.data | filter:filter">
                <!-- <ion-badge [color]="c.Color" class="ion-round ion-round-circle ion-block ion-p-2"></ion-badge> -->
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">{{ c.Nombre }}</span>
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button color="tertiary" shape="round" (click)="onUpdate(c)">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </ion-button>
                    <ion-button color="danger" shape="round" (click)="onDelete(c)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>

    </div>

     <!-- Spinner -->
    <ng-template #spinner>
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-spinner color="secondary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ng-template>

</ion-content>
