
<ion-tabs slot="bottom">
    <ion-tab-bar class="ion-tab-bar-custom">
         <ion-tab-button tab="balance">
            <ion-icon name="grid-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="categoria">
            <ion-icon name="cube-outline"></ion-icon>
        </ion-tab-button>
       <ion-tab-button routerLink="/app/balance-form">
            <ion-icon name="add-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="recordatorio" disabled>
            <ion-icon name="bulb-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="ajuste">
            <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
