<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back" defaultHref="/app/ajuste"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-font-lg ion-no-padding">
            Cambiar contraseña
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding-horizontal">
        <form #form="ngForm">
            <ion-row class="ion-justify-content-center">
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="password" label="Contraseña anterior">
                        <ion-input type="password" class="ion-input-custom" [(ngModel)]="model.Password" name="password"
                            #password="ngModel" minlength="8" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="newPassword" label="Contraseña nueva">
                        <ion-input type="password" class="ion-input-custom" [(ngModel)]="model.NewPassword" name="newPassword"
                            #newPassword="ngModel" minlength="8" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>

            <br>
            <ion-row class="ion-justify-content-center">
                <ion-col size="8" sizeMd="4">
                    <ion-button expand="block" (click)="service.changePassword(model)"
                        [disabled]="form.invalid || form.pristine || service.loading">
                        <ion-text class="ion-text-capitalize">
                            <ion-spinner color="white" *ngIf="service.loading"></ion-spinner>
                            <strong [class.ion-hide]="service.loading">Cambiar</strong>
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>

