

.ion-flex { display: flex !important; }
.ion-inline-flex { display: inline-flex !important; }

.ion-flex-row            { flex-direction: row !important; }
.ion-flex-column         { flex-direction: column !important; }
.ion-flex-row-reverse    { flex-direction: row-reverse !important; }
.ion-flex-column-reverse { flex-direction: column-reverse !important; }

.ion-flex-wrap         { flex-wrap: wrap !important; }
.ion-flex-nowrap       { flex-wrap: nowrap !important; }
.ion-flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
.ion-flex-fill         { flex: 1 1 auto !important; }
.ion-flex-grow-0       { flex-grow: 0 !important; }
.ion-flex-grow-1       { flex-grow: 1 !important; }
.ion-flex-shrink-0     { flex-shrink: 0 !important; }
.ion-flex-shrink-1     { flex-shrink: 1 !important; }


