

.ion-font-base { font-size: 16px !important; }
.ion-font-xl { font-size: 24px !important }
.ion-font-lg { font-size: 18px !important; }
.ion-font-md { font-size: 14px !important; }
.ion-font-sm { font-size: 12px !important; }
.ion-font-xs { font-size: 11px !important; }

.ion-font-bolder { font-weight: 800 !important; }
.ion-font-bold { font-weight: 600 !important; }
.font-normal { font-weight: 400 !important; }
.font-light { font-weight: 300 !important; }
.font-lighter { font-weight: 100 !important; }

.ion-text-nowrap {
    white-space: nowrap !important;
}

