<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back" defaultHref="/app/balance"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-no-padding ion-font-lg">
            Agregar Servicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding" [hidden]="service.loading">
        <form #form="ngForm" (ngSubmit)="!service.editing ? onAdd(this.service.model) : onUpdate(this.service.model)">
    
             <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="costo" label="Costo">
                        <ion-input type="number" class="ion-input-custom" placeholder="$0.00" #costo="ngModel"
                            [(ngModel)]="service.model.Costo" name="costo" min="1" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-label color="medium">
                        <h6 class="ion-font-sm ion-my-2">Categoria</h6>
                    </ion-label>
                    <ion-select class="ion-select-custom" placeholder="Categoria" name="categoriaId"
                        [(ngModel)]="service.model.CategoriaId" required>
                        <ion-select-option value="1">Sueldo</ion-select-option>
                        <ion-select-option value="2">Gasto de Venta</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input-wrapper [ctrl]="descripcion" label="Descripcion">
                        <ion-textarea class="ion-input-custom" placeholder="Descripcion" #descripcion="ngModel"
                            [(ngModel)]="service.model.Descripcion" name="descripcion">
                        </ion-textarea>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>
   
            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="fecha" label="Fecha">
                        <ion-input type="date" class="ion-input-custom" placeholder="$0.00" #fecha="ngModel"
                            [(ngModel)]="service.model.Fecha" name="fecha" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>
            <br>
            <ion-row class="ion-justify-content-center">
                <ion-col size="8" sizeMd="6">
                    <ion-button type="submit" color="primary" expand="block"
                        [disabled]="form?.invalid || form?.pristine">
                        {{ service.editing ? 'Editar' : 'Guardar' }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

    <!-- Spinner -->
    <ng-template [ngIf]="service.loading">
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-spinner color="secondary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ng-template>
</ion-content>
