<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back" defaultHref="/app/balance"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-no-padding ion-font-lg">
            Agregar Servicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding" [hidden]="service.loading || categoriaService.loading">
        <form #form="ngForm">
    
             <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="costo" label="Costo">
                        <ion-input type="number" class="ion-input-custom" placeholder="$0.00" #costo="ngModel"
                            [(ngModel)]="service.model.Costo" name="costo" min="1" inputMode="numeric"
                            [pattern]="PATTERNS.onlyPositive" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-label color="medium">
                        <h6 class="ion-font-sm ion-my-2">Categoria</h6>
                    </ion-label>
                    <ion-select class="ion-select-custom" placeholder="Categoria" name="categoriaId"
                        [(ngModel)]="service.model.CategoriaId" required>
                        <ng-container *ngFor="let c of categorias">
                            <ion-select-option [value]="c.Id">
                                {{ c.Nombre }}
                            </ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input-wrapper [ctrl]="descripcion" label="Descripcion">
                        <ion-textarea class="ion-input-custom" placeholder="Descripcion" #descripcion="ngModel"
                            [(ngModel)]="service.model.Descripcion" name="descripcion">
                        </ion-textarea>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>
   
            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-label color="medium">
                        <h6 class="ion-font-sm ion-my-2">Fecha</h6>
                    </ion-label>
                    <ion-datetime class="ion-datetime-custom" placeholder="DD/MM/YYYY" displayFormat="DD/MMM/YYYY" cancelText="Cancelar"
                        doneText="Aceptar" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                        name="fecha" [(ngModel)]="service.model.Fecha" required>
                    </ion-datetime>
                </ion-col>
            </ion-row>
            <br>
            <ion-row class="ion-justify-content-center">
                <ion-col size="8" sizeMd="6">
                    <ion-button type="submit" color="primary" expand="block" [disabled]="form?.invalid || form?.pristine"
                        (click)="!service.editing ? onAdd(this.service.model) : onUpdate(this.service.model)">
                        {{ service.editing ? 'Editar' : 'Guardar' }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

    <!-- Spinner -->
    <ng-template [ngIf]="service.loading || categoriaService.loading">
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-spinner color="secondary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ng-template>
</ion-content>
