<ion-header class="ion-no-border" translucent>
    <ion-toolbar>
        <ion-title class="ion-no-padding ion-text-center">
            <h6 class="ion-font-bold ion-m-0 ion-font-md">Settings</h6>
            <ion-text color="medium">
                <small class="ion-font-sm">
                    Amet reprehenderit quasi consequatur! 
                </small>
            </ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="fade-animation">
        <br>
        <ion-list lines="none">
            <ion-item>
                <ion-avatar>
                    <ion-img src="assets/img/0.jpg"></ion-img>
                </ion-avatar>
                <ion-label color="dark" class="ion-ml-3">
                    <h6 class="ion-font-bold ion-font-md">Sit itaque</h6>
                    <ion-text color="medium">
                        <small class="ion-font-sm">Lorem minima commodi eos</small>
                    </ion-text>
                </ion-label>
            </ion-item>
            <br>
            <ion-item detail="false">
                <ion-icon name="moon-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">Dark Mode</span>
                </ion-label>
                <ion-toggle color="primary" slot="end"></ion-toggle>
            </ion-item>

            <ion-list-header>
                <ion-label color="medium">
                    <span class="ion-font-bold">Options</span>
                </ion-label>
            </ion-list-header>
            <ion-item button>
                <ion-icon name="person-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">Profile</span>
                </ion-label>
            </ion-item>

            <ion-item detail="false">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">Notification</span>
                </ion-label>
                <ion-toggle color="primary" slot="end"></ion-toggle>
            </ion-item>

            <ion-list-header>
                <ion-label color="medium">
                    <span class="ion-font-bold">Otros</span>
                </ion-label>
            </ion-list-header>

            <ion-item button detail="false">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">Ayuda y comentarios</span>
                </ion-label>
            </ion-item>

            <ion-item button detail="false">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">About us</span>
                </ion-label>
            </ion-item>

            <ion-item button detail="false">
                <ion-icon name="power-outline"></ion-icon>
                <ion-label color="dark" class="ion-ml-3">
                    <span class="ion-font-md">Logout</span>
                </ion-label>
            </ion-item>

        </ion-list>
    </div>
</ion-content>
