<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back" defaultHref="/app/categoria"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-no-padding ion-font-lg">
            Agregar Categoria
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding" [hidden]="service.loading">
        <form #form="ngForm">
             <ion-row class="ion-justify-content-center">
                <ion-col size="12" sizeMd="6">
                    <ion-input-wrapper [ctrl]="name" label="Nombre">
                        <ion-input class="ion-input-custom" placeholder="Sueldo, Mensualidad, etc..." #name="ngModel"
                            [(ngModel)]="service.model.Nombre" name="name" required>
                        </ion-input>
                    </ion-input-wrapper>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12" sizeMd="6">
                    <ion-label color="medium">
                        <h6 class="ion-font-sm ion-my-2">Tipo de Servicio</h6>
                    </ion-label>
                    <ion-button-toggle [values]="tipoCategoria" [(ngModel)]="service.model.TipoCategoriaId"
                        name="tipo" required>
                    </ion-button-toggle>
                </ion-col>
            </ion-row>
            
            <br>
            <ion-row class="ion-justify-content-center">
                <ion-col size="8" sizeMd="4">
                    <ion-button type="submit" color="primary" expand="block" [disabled]="(form?.invalid || form?.pristine)"
                        (click)="!service.editing ? onAdd(this.service.model) : onUpdate(this.service.model)">
                        {{ service.editing ? 'Editar' : 'Guardar' }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

    <!-- Spinner -->
    <ng-template [ngIf]="service.loading">
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-spinner color="secondary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ng-template>
</ion-content>

