.ion-tab-bar-custom {
    contain: none;
    --border: 1px solid var(--ion-color-secondary);

    ion-tab-button:nth-child(3) {
        z-index: 1;
        position: relative;
        margin-top: -57px;
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        --color-selected: var(--ion-color-primary-contrast);
        --height: 4rem;
        border-radius: 50%;
        height: var( --height);
        flex: 0 0 var( --height);
        border: 8px solid var(--ion-color-white);

        &::before {
            --width: calc(100% + 16px);
            --border: 1px solid var(--ion-color-secondary);
            content: '';
            position: absolute;
            top: -8px;
            left: -8px;
            width: var(--width);
            height: var(--width);
            background-color: transparent;
            border-radius: 50%;
            border: var(--border);
            border-top-color: transparent;
            border-right-color: transparent;
            box-sizing: border-box;
            transform: rotate(314deg); 
        }

        .ios & {
            margin-top: -50px;
        }
    }

    .dark-theme &,
    .dark-theme & ion-tab-button::before{
        --border: none;
    }
}
 
